<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="iassetTechnicalTest.ServiceAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="iassetTest.ServiceAgent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <iassetTechnicalTest.ServiceAgent.Properties.Settings>
            <setting name="iassetTest_ServiceAgent_GlobalWeatherService_GlobalWeather" serializeAs="String">
                <value>http://www.webservicex.net/globalweather.asmx</value>
            </setting>
        </iassetTechnicalTest.ServiceAgent.Properties.Settings>
        <iassetTest.ServiceAgent.Properties.Settings>
            <setting name="iassetTest_ServiceAgent_GlobalWeatherService_GlobalWeather" serializeAs="String">
                <value>http://www.webservicex.net/globalweather.asmx</value>
            </setting>
        </iassetTest.ServiceAgent.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>